@import "compass/reset";
@import "compass/utilities/general/clearfix";

@import "./application/layout";
@import "./application/slideshow";

$background-color: #1abc9d;

body {
  background-color: $background-color;
  font-family: "Helvetica", "Arial", "sans";
  color: #fff;
}
